@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


body {
    margin: 0;
    background-color: rgb(11, 0, 38);
    color: white;
    font-family: "DM Sans", sans-serif;
}

header {
    text-align: center;
    padding-bottom: 0.2em;
}

header nav a {
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 0.2em;
    background-color: blueviolet;
    color: inherit;
    padding: 0.1em 0.4em;

    transition: background-color 0.4s;
}

a:hover {
    background-color: rgb(44, 14, 72);
}

hr {
    border: 1px solid #ffffff;
}

section {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
    padding: 2em 0;
}

div h3 {
    font-size: 1em;
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.4em;
    margin: 0.1em 0em;
}

section a {
    text-decoration: none;
    border-radius: 0.5em;
    background-color: blueviolet;
    color: inherit;
    padding: 0.1em 0.4em;
    
    transition: background-color 0.4s;
}

img {
    width: 700px;
    height: auto;
    border-radius: 2em;
    transition: opacity 0.1s ease-in-out;
    opacity: 1;
}

img.fade {
    opacity: 0;
}


div#imgWithNavigation {
    position: relative;
}

div#imgWithNavigation div {
    display: flex;
    justify-content: space-between;
    gap: 1em;

    position: absolute;
    top: 0;
    left: 250px;
}

div#imgWithNavigation button {
    opacity: 0;

    background-color:rgba(255,255,255,0);
    color: blueviolet;
    border: none;

    font-size: 2rem;
    text-shadow: 0px 2px 2px black;

    transition: opacity 0.5s, font-size 0.2s;
}

div#imgWithNavigation span { 
    opacity: 0;
    color: black;
    display: block;
    width: 27px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid black;
    padding: 0em 0.2em;
    transition: opacity 0.5s, font-size 0.2s;
}

/* when hover over div, show all buttons */
div#imgWithNavigation:hover button, div#imgWithNavigation:hover span {
    opacity: 1; 
    font-size: 3rem;
}

button#next:active, button#prev:active {
    color: white;
    text-shadow: 0px 2px 2px black;
}
